@use '../../../variables.scss' as *;

@mixin input-style($type: 'text') {
    @include font-default();
    color: $gray-400;

    border: 1px solid $gray-100;
    padding: .8rem 1.6rem;
    border-radius: 2px;

    transition: box-shadow 0.3s ease-in-out; // Transição suave para o box-shadow, o outline não suporta

    @if $type == 'text' {
        height: 5.4rem;
    } @else if $type == 'textarea' {
        height: 10rem;
    }

    &::placeholder {
        color: $gray-200;
    }

    &:focus {
        outline: none; // Remove o outline padrão
        box-shadow: 0 0 0 1px $purple-mid; // Simula o outline com box-shadow
    }
}

.input-component {
    display: grid;
    row-gap: .4rem;

    input {
        @include input-style();
    }

    textarea {
        @include input-style('textarea');
        
        resize: none; 
    }

    .error {
        color: $error-color;
        font-size: 1.4rem;
        margin-top: .4rem;
    }
}