<app-steps [currentStep]="currentStep"/>

<div class="divider"></div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (currentStep === 0) {
        <app-form-field title="Nome">
            <input 
                formControlName="name" 
                type="text" 
                placeholder="Como prefere ser chamado" 
            />

            @if (name.invalid && (name.touched || name.dirty)) {
                <span class="error"> {{getErrorMessage('name')}} </span>
            }
        </app-form-field>
    
        <app-form-field title="Telefone">
            <input
                formControlName="phone"
                type="tel"
                placeholder="Digite seu número de WhatsApp com DDD"
                appFormatPhone
            />

            @if (phone.invalid && (phone.touched || phone.dirty)) {
                <span class="error"> {{ getErrorMessage('phone') }} </span>
            }
        </app-form-field>

        <app-form-field title="E-mail">
            <input
                formControlName="email"
                type="email"
                placeholder="Digite seu e-mail" 
            />

            @if (email.invalid && (email.touched || email.dirty)) {
                <span class="error"> {{ getErrorMessage('email') }} </span>
            }
        </app-form-field>
    } @else if (currentStep === 1) {
        <app-form-field title="Nome da empresa">
            <input
                formControlName="businessName"
                type="text"
                placeholder="Qual é o nome da empresa" 
            />

            @if (businessName.invalid && (businessName.touched || businessName.dirty)) {
                <span class="error"> {{ getErrorMessage('businessName') }} </span>
            }
        </app-form-field>

        <app-form-field title="Número de funcionários">
            <input
                formControlName="numberOfEmployees"
                type="number"
                placeholder="Digite o número de colaboradores" 
            />

            @if (numberOfEmployees.invalid && (numberOfEmployees.touched || numberOfEmployees.dirty)) {
                <span class="error"> {{ getErrorMessage('numberOfEmployees') }} </span>
            }
        </app-form-field>

        <app-form-field title="Sobre seu negócio">
            <textarea formControlName="aboutYourBusiness" placeholder="Fale um pouco sobre seus produtos ou serviços"></textarea>

            @if (aboutYourBusiness.invalid && (aboutYourBusiness.touched || aboutYourBusiness.dirty)) {
                <span class="error"> {{ getErrorMessage('aboutYourBusiness') }} </span>
            }
        </app-form-field>
    } @else if (currentStep === 2) {
        <app-form-field title="Objetivos do projeto">
            <textarea formControlName="projectObjectives" placeholder="Descreva quais os objetivos desse projeto"></textarea>

            @if (projectObjectives.invalid && (projectObjectives.touched || projectObjectives.dirty)) {
                <span class="error"> {{ getErrorMessage('projectObjectives') }} </span>
            }
        </app-form-field>
    }

    <footer>
        <app-steps-button [(currentStep)]="currentStep" [disabled]="disabledButton" [isSubmitting]="isSubmitting" />
    </footer>
</form>
